header {
    /*background-color: black;*/
    background-color: #ffe2e2;
    width: 100%; 
    box-sizing: border-box; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 5px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

#logo {
    height: 70px;
    padding-right: 100px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    padding: 10px 14px;
    border-radius: 8px;
    font-size: 1.1rem;
}

.nav-links a:hover {
    color: white;
    background-color: #ff9292;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.header-buttons button {
    font-size: 1.0rem; 
    color: white; 
    background-color: #ff7d7d;
    border: none;
    border-radius: 8px; 
    padding: 8px 12px; 
    cursor: pointer;
    align-items: center;
    justify-content: center; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.header-buttons button:hover {
    background-color: #ff6d6d;
    transform: translateY(-2px); /*출처 남기기*/
}

.header-buttons button i {
    margin-right: 8px;
    font-size: 18px;
}

/*메인 시작*/
body, html {
    margin: 0;
    padding: 0;
    background-color: #fff5f5;
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
}

.container {
    margin: 50px auto;
    background: #fff;
    padding: 70px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


h2 {
    margin-top: 0;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 6px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

input[type="submit"] {
    color: white;
    margin: 20px 0;
    border: none;
    background-color: #ff7d7d;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ff6d6d;
}


/* 모바일 버전 */
@media (max-width: 768px) {
    #logo {
        height: 50px;
        padding-right: 0;
        margin-bottom: 10px; 
    }

    header {
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        width: 100%;
        flex-wrap: wrap; 
    }

    .nav-links a {
        font-size: 15px;
        padding: 10px;
        text-align: center;
        width: auto;
    }

    .header-buttons {
        margin-top: 10px; 
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .header-buttons button {
        font-size: 12px;
        padding: 10px 20px;
    }

    form {
        width: 100%;
    }

    .container {
        width: 90%;
        padding: 20px;
        margin: 20px auto;
    }
}
